* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(36, 26, 26, 0.2), rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1527224857830-43a7acc85260?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
}

header {
    padding: 4%;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
}

.questions div {
    padding: 4%;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.questions p {
    background-color: black;
    border-radius: 5px;
}

.questions button {
    font-size: 16px;
}

#footer {
    background-color: floralwhite;
}

.title {
    color: antiquewhite;
}